@import '../../../vars.scss';

div {
    display: flex;
    align-items: center;

    > div.circle {
        width: 10px;
        height: 10px;
        flex: 0 0 auto;
        border-radius: 100%;
        margin-right: 5px;
    }

    > small {
        text-transform: uppercase;
        font-size: small;
        font-weight: bold;
        color: $gray1;
        letter-spacing: 1px;
    }

    &.live {
        > div.circle{
            background-color: red;

        }
    }

    &.not-live {
        > div.circle{
            border: 1px solid $gray1;
        }
    }
}