@import '../../../vars.scss';


div {
  padding: 10px 20px;
  // font-size: large;
  width: fit-content;
  font-weight: normal;
  color: $gray1;
  text-transform: uppercase;
  border: 1px solid $gray1;
  border-radius: 4px;

  > span {
    color: black;
    font-weight: bold;
  }
}
