app-generator-live {
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 20px;
}

app-current-code {
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 10px;
}

form {
    display: flex;
}