@import '../../../vars.scss';

app-generator-live {
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 20px;
}

app-current-code {
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 10px;
}

form {
    display: flex;
    margin-top: 20px;

    > label {
        width: 150px;
        margin-right: 10px;
    }

    > button {
        height: fit-content;
        align-self: flex-start;
        position: relative;
        top: 20px;
        font-size: small;
        padding: 5px 15px;
    }

    @media screen and (max-width: $breakpoint-small) {
        flex-direction: column;

        > label {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        > button {
            align-self: flex-end;
        }
    }
}

table {
    width: 100%;
    margin-top: 30px;
    tr {
        > th:first-of-type, td:first-of-type {
            width: 100%;
            text-align: left;
        }
    }
  }