<!-- Generator live UI  -->
<app-generator-live [live]="(generator_running$ | async)"></app-generator-live>

<!-- Generated code output -->
<app-current-code [code]="(current_signature$ | async)?.code"></app-current-code>

<form>
    <label class="text">
        <p>Payment</p>
        <input type="text" placeholder="Payment">
    </label>
    <label class="text">
        <p>Ammount</p>
        <input type="text" placeholder="Ammount">
    </label>
    <button>&#65291; Add</button>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Ammount</th>
        <th>Code</th>
        <th>Grid</th>
    </tr>
    <tr>
        <td>Payment 1</td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
    </tr>
</table>