@import "../vars.scss";
$max-content-width: 600px;
$content-x-padding: 20px;

main {
  margin: auto;
  max-width: $max-content-width;
  padding: 20px $content-x-padding 50px $content-x-padding;
}

nav {
  background-color: $primary;
  padding: 5px 0px;

  > ul {
    margin: auto;
    max-width: $max-content-width;
    display: block;
    list-style: none;
    display: flex;
    padding: 0 $content-x-padding;

    > a {
      margin: 0;
      padding: 10px 30px;
      text-decoration: none;
      font-size: larger;
      font-weight: bold;
      color: white;

      &.active {
        background: white;
        color: $primary;
      }
    }
  }
}
