<!-- Top UI controls -->
<div class="row top-ui">
    <label class="text">
        <p>Character</p>
        <input type="text">
    </label>
    <label class="checkbox">
        <span>Start Generator</span>
        <input type="checkbox" [checked]='this.generator_running$ | async' (change)='onToggleGenerator()'>
        <div class="checkbox"></div>
    </label>
</div>


<!-- Signature matrix -->
<table>
    <tr>
        <td></td>
        <td *ngFor="let x of range(this.matrix_size.width)" class="coordinate"> {{x}} </td>
    </tr>
    <tr *ngFor="let y of range(this.matrix_size.height)">
        <td class="coordinate"> {{y}} </td>
        <td *ngFor="let x of range(this.matrix_size.width)" >
            {{(current_signature$ | async)?.matrix?.data[y * matrix_size.width + x]}}
        </td>
    </tr>
</table>


<!-- Refresh pulse bar -->
<hr class="pulse-bar-ui" [style.width.%]="refresh_bar_size$ | async">

<!-- Generator live UI  -->
<app-generator-live></app-generator-live>

<!-- Generated code output -->
<app-current-code></app-current-code>