<!-- Top UI controls -->
<div class="row top-ui">
    <label class="text">
        <p>Character</p>
        <input #inchar type="text" maxlength="1" (keydown)="onPreferedCharInput($event.key)" [value]="this.prefered_char">
    </label>
    <label class="checkbox">
        <span>Start Generator</span>
        <input type="checkbox" [checked]='this.generator_running$ | async' (change)='onToggleGenerator()'>
        <div class="checkbox"></div>
    </label>
</div>


<!-- Signature matrix -->
<table>
    <tr>
        <td></td>
        <td *ngFor="let x of range(this.matrix_size.width)" class="coordinate"> {{x}} </td>
    </tr>
    <tr *ngFor="let y of range(this.matrix_size.height)">
        <td class="coordinate"> {{y}} </td>
        <td *ngFor="let x of range(this.matrix_size.width)" >
            {{current_signature?.matrix?.getChar({x:x,y:y})}}
        </td>
    </tr>
</table>


<!-- Refresh pulse bar -->
<hr class="pulse-bar-ui" [style.width.%]="refresh_bar_size$ | async">

<!-- Generator live UI  -->
<app-generator-live [live]="(generator_running$ | async)"></app-generator-live>

<!-- Generated code output -->
<app-current-code [code]="(current_signature$ | async)?.code"></app-current-code>