@import "../../../vars.scss";

div.top-ui {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;

  @media screen and (max-width: $breakpoint-small) {
    flex-direction: column;
    align-items: center;

    > label {
        text-align: center;
    }

    > label.text {
      > input {
        width: 100%;
      }
    }

    > label.checkbox {
        margin-top: 15px;
    }
  }

  > label.text {
    > input {
      max-width: 100px;
      font-size: larger;
      text-align: center;
      text-transform: uppercase;
    }
  }
}


table {
  width: 100%;
  margin-top: 30px;
  tr {
    td {
      height: 2em;
      width: 2em;
      padding: 0;

      &.coordinate {
        color: $gray1;
      }
    }
  }
}

hr.pulse-bar-ui {
  margin-top: 10px;
  border: none;
  height: 4px;
  background: red;
}

app-generator-live {
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 20px;
}

app-current-code {
  margin: auto;
  display: block;
  width: fit-content;
  margin-top: 10px;
}
