/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import "./vars.scss";

html {
  font-family: "Roboto", sans-serif;
  * {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

label {
  > p,
  span {
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    color: $gray1;
  }

  &:hover,
  &:focus-within {
    > p,
    span {
      color: $secondary;
    }
  }

  &.text {
    display: flex;
    flex-direction: column;

    > input {
      order: 2;
      width: 100%;
      padding: 7px 20px;
      border-radius: 4px;
      border: 1px solid $gray1;
    }

    > p {
      order: 1;

      &.error {
        display: none;
        order: 3;
        color: red;
      }
    }

    > input.ng-invalid.ng-touched {
      border-color: red;

      & ~ p {
        color: red;
      }

      & ~ p.error {
        display: block;
      }
    }

    &:hover,
    &:focus-within {
      > input {
        border-color: $secondary;
      }
    }
  }

  &.checkbox {
    display: flex;
    align-items: center;

    div.checkbox {
      margin-left: 7px;
      width: 36px;
      height: 36px;
      border: 1px solid $gray1;
      border-radius: 4px;
      position: relative;

      &:after {
        content: "";
        display: none;
        position: absolute;
        border: 1.5px solid;
        border-top: none;
        border-right: none;
        width: 60%;
        height: 30%;
        transform: rotate(-45deg);
        bottom: 45%;
        left: 20%;
      }
    }

    &:hover {
      > div.checkbox {
        border-color: $secondary;
        &::after {
          border-color: darken($secondary, 10%);
        }
      }
    }

    > input {
      display: none;
      &:checked ~ div.checkbox {
        background: $primary;
        &::after {
          display: block;
          border-color: white;
        }
      }
    }
  }
}

button {
  background: $secondary;
  border: 1px solid $secondary;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 7px 15px;
  letter-spacing: 1px;
  white-space: nowrap;

  &.outline {
    background: none;
    color: $secondary;
  }
}

table {
  border-collapse: collapse;

  tr {
    th {
      border: 1px solid $gray1;
      text-transform: uppercase;
      color: $gray1;
      font-size: small;
      padding: 5px 10px;
    }

    td {
      padding: 5px 10px;
      color: black;
      border: 1px solid $gray1;
      text-align: center;
    }
  }
}

